body {
  font-weight: 300;
  font-family: 'Raleway', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 100px;
  font-weight: 400;
  text-align: center;
    }

.container {
  width: 96%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navLinks {
  text-align: center;
  margin-top: 1rem;
  word-spacing: 1rem;
  text-decoration: none;
  list-style-type: none;

}