body {
  font-weight: 300;
  font-family: 'Raleway', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 5rem;
  text-align: center;
    }


img {
  width: 15%;
}

.container {
  width: 96%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}