html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-size: 15px;
  font-family: 'Raleway', Arial, sans-serif;
  line-height: 1.5;
  width: 70%;
  margin: 0 auto;
  background-color: white;
}


h1 {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
    }

.headshot {
  width: 280px;
  height: 180px;
  float: left;
  padding-top: 1rem;
  padding-left: 55px;
  padding-right: 30px;

}


.More {
  text-align: center;
  padding-top: 2rem;
}

.footerIndex {
  padding-top: 30rem;
  text-align: center;
}

.footerLink {
  padding-top: 5rem;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: black;
  text-align: center;
}

a:visited {
  color: black;
}

a:hover {
  color: lightskyblue;
}

img {
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

hr {
  border-top: 3px dashed black;
}

.aboutMeSection {
  padding-right: 80px;
}

.portfoliopara {
  font-size: 16px;
}

.header img {
  width: 35%;
  padding-left: 50px;
  display: block;
  padding-top: 2rem;
  margin: auto;
}

.aboutMe img {
  width: 18%;
}

.recently img {
  width: 13%;
  padding-top: 1.5rem;
}

.education img {
  width: 18%;
  padding-top: 1rem;
}

.housing img {
  width: 15%;
  padding-top: 2rem;
}

.politics img {
  width: 13%;
  padding-top: 2rem;
}

.socialjustice img {
  width: 20%;
  padding-top: 2rem;
}

.health img {
  width: 13%;
  padding-top: 2rem;
}

.ac img {
  width: 22%;
  padding-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: left;
  padding-left: 50px;
  padding-bottom: 300px;
}

.container img {
  width: 250px;
  height: 150px;
  overflow: hidden;
  background: #333333;
}

.container1 {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: left;
  padding-left: 100px;
  padding-bottom: 300px;
  padding-top: 20px;
}

.container1 img {
  width: 250px;
  height: 150px;
  overflow: hidden;
}

.column {
  padding: 16px;
  height: 250px;
}

.column img {
  padding-top: 1rem;
  padding-left: 0px;
  padding: 3px; 
  width: 250px;
  height: 150px; 
}

.educationbutton img {
  height: 200px;
  width: 200px;
}

.housingbutton img {
  height: 200px;
  width: 180px;
}

.aebutton img {
  height: 150px;
  width: 230px;
}

.healthbutton img {
  height: 200px;
  width: 200px;
}

.sjbutton img {
  height: 200px;
  width: 200px;
}

.polibutton img {
  height: 200px;
  width: 200px;
}

.navLinks {
  text-align: center;
  word-spacing: 1.5rem;
  font-size: 18px;
  background-color: white;
}

.navLinks ul {
  text-decoration: none;
  list-style-type: none;
}

.navLinks li {
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  .header img {
  width: 50%;
  padding-left: 50px;
  display: block;
  padding-top: 2rem;
  margin: auto;
}

  .aboutMe img {
  width: 40%;
}

  .recently img {
  width: 34%;
}

.column {
  float: left;
}

.headshot {
  width: 100%;
  float: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutMeSection {
  padding-right: 10px;
}

.column {
  display: block;
}

.column img {
  display: block;
}

.container1 img {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 200px;
  padding-top: 20px;
}
     }
